@model OnosFlow.Models.Flow
@{int id = ViewBag.id;}
<div class="criterion card bg-light mb-3" data-id="@id">
    <div class="card-body">
        <div class="form-group">
            <label asp-for="selector.criteria[id].type" class="control-label"></label>
            <select asp-for="selector.criteria[id].type" asp-items="@(new SelectList(Criterion.GetTypes()))" class="form-control"></select>
            <span asp-validation-for="@Model.selector.criteria[id].type" class="text-danger"></span>
            <div class="criterion-value value-eth-type d-none">
                <label asp-for="selector.criteria[id].ethType" class="control-label"></label>
                <input asp-for="selector.criteria[id].ethType" class="form-control" disabled="disabled"/>
                <span asp-validation-for="@Model.selector.criteria[id].ethType" class="text-danger"></span>
            </div>
            <div class="criterion-value value-mac d-none">
                <label asp-for="selector.criteria[id].mac" class="control-label"></label>
                <input asp-for="selector.criteria[id].mac" class="form-control" disabled="disabled"/>
                <span asp-validation-for="@Model.selector.criteria[id].mac" class="text-danger"></span>
            </div>
            <div class="criterion-value value-port d-none">
                <label asp-for="selector.criteria[id].port" class="control-label"></label>
                <input asp-for="selector.criteria[id].port" class="form-control" disabled="disabled"/>
                <span asp-validation-for="@Model.selector.criteria[id].port" class="text-danger"></span>
            </div>
            <button type="button" class="delete-criterion btn btn-danger mt-3">Usuń</button>
        </div>
</div>

