@model OnosFlow.Models.FlowModel

@{
    ViewData["Title"] = "Flows";
} 

<h1>Flow table</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Priority</th>
            <th>Timeout</th>
            <th>DeviceId</th>
            <th>State</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.flows) {
        <tr>
            <td>
                @item.id
            </td>
            <td>
                @item.priority
            </td>
            <td>
                @item.timeout
            </td>
            <td>
                @item.deviceId
            </td>
            <td>
                @item.state
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { deviceId=item.deviceId}) |
                @Html.ActionLink("Details", "Details", new { deviceId=item.deviceId, flowId=item.id }) |
                @Html.ActionLink("Delete", "Delete", new { deviceId=item.deviceId, flowId=item.id })
            </td>
        </tr>
}
    </tbody>
</table>
